{% extends 'base.html' %}

{% block content %}
<h1>Add Heart Reading</h1>
<form method="post">
    {% csrf_token %}
    <label for="min_pressure">Min Pressure:</label><br>
    <input type="number" id="min_pressure" name="min_pressure" required min="25" max="250"><br>
    <label for="max_pressure">Max Pressure:</label><br>
    <input type="number" id="max_pressure" name="max_pressure" required min="25" max="250"><br>
    <label for="heart_rate">Heart Rate:</label><br>
    <input type="number" id="heart_rate" name="heart_rate" required min="25" max="250"><br>
    <label for="reading_date">Reading Date:</label><br>
    <input type="datetime-local" id="reading_date" name="reading_date" value="{{ default_date|date:'Y-m-d H:i' }}"
        required><br>
    <input type="submit" value="Add">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags != 'success' %}
    {{ message }}
    {% endif %}
    {% endfor %}
    {% endif %}
</form>

{% endblock %}