{% extends 'base.html' %}

{% block content %}
    <h1>Edit Heart Reading</h1>
    <form method="post">
        {% csrf_token %}
        <label for="min_pressure">Min Pressure:</label><br>
        <input type="number" id="min_pressure" name="min_pressure" value="{{ reading.min_pressure }}"><br>
        <label for="max_pressure">Max Pressure:</label><br>
        <input type="number" id="max_pressure" name="max_pressure" value="{{ reading.max_pressure }}"><br>
        <label for="heart_rate">Heart Rate:</label><br>
        <input type="number" id="heart_rate" name="heart_rate" value="{{ reading.heart_rate }}"><br>
        <label for="reading_time">Reading Time:</label><br>
        <input type="datetime-local" id="reading_time" name="reading_time" value="{{ reading.reading_time|date:'Y-m-d\TH:i' }}"><br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
