{% extends 'base.html' %}

{% block content %}
<h1>Edit Heart Reading</h1>
<form method="post">
    {% csrf_token %}
    <label for="min_pressure">Min Pressure:</label><br>
    <input type="number" id="min_pressure" name="min_pressure" value="{{ reading.min_pressure }}"><br>
    <label for="max_pressure">Max Pressure:</label><br>
    <input type="number" id="max_pressure" name="max_pressure" value="{{ reading.max_pressure }}"><br>
    <label for="heart_rate">Heart Rate:</label><br>
    <input type="number" id="heart_rate" name="heart_rate" value="{{ reading.heart_rate }}"><br>

    <label for="reading_date">Reading Date:</label><br>
    <input type="date" id="reading_date" name="reading_date" value="{{ reading.reading_date|date:'Y-m-d' }}"><br>

    <label for="reading_time">Reading Time:</label><br>
    <input type="time" id="reading_time" name="reading_time" value="{{ reading.reading_time|date:'H:i' }}"><br><br>

    <input type="submit" value="Edit">
    <button type="button" onclick="document.getElementById('delete-form').submit()">Delete</button>
</form>
<form id="delete-form" method="post" action="{% url 'delete_reading' pk=reading.pk %}">
    {% csrf_token %}
</form>
    {% if messages %}
    myFunction()
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <!-- Toast -->
    <div id="snackbar">Some text some message..</div>

    <!-- Use a button to open the toast -->
    <button onclick="myFunction()">Show Toast</button>

    <script>
        function myFunction() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
{% endblock %}
