{% extends 'base.html' %}

{% block content %}
<h2>Heart Readings</h2>

<a href="{% url 'add_reading' %}">Add</a>

<ul>
    {% for reading in readings %}

    <article>
        <li><strong>Date:</strong> {{ reading.reading_date }}</li>
        <li><strong>Time:</strong> {{ reading.reading_time }}</li>
        <li><strong>Min Pressure:</strong> {{ reading.min_pressure }}</li>
        <li><strong>Max Pressure:</strong> {{ reading.max_pressure }}</li>
        <li><strong>Heart Rate:</strong> {{ reading.heart_rate }}</li>
        <li><a href="{% url 'edit_reading' pk=reading.pk %}">Edit</a></li>
    </article>

    {% empty %}
    <li class="alert">No heart readings available.</li>
    {% endfor %}
</ul>
{% endblock %}
